/* Reset all margin and decoration */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styling*/
body {
    font-family: Arial, sans-serif;
    background: #fff;
    color: #333;
}

/* Main Width */
header,
main,
footer {
    width: 840px;
    margin: auto;
}

/*  Header styling  */

header {
    background: #dbc27e;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

header img {
    width: 120px;
}

.navigation {
    list-style: none;
    display: flex;
    gap: 20px;
}

.navigation a {
    text-decoration: none;
    color: black;
    border: 1px solid #555;
    padding: 10px 20px;
    background: white;
}

.navigation a {
    background: #555;
    color: white;
}

/* hero styling */

.hero {
    position: relative;
    margin: 20px 0;
}

.hero img {
    width: 100%;
}

.hero h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    text-align: center;
    color: white;
    background: rgba(0, 0, 0, .5);
    padding: 15px;
}

.hero article {
    position: absolute;
    bottom: 20px;
    left: 20px;
    right: 20px;
    background: rgba(0, 0, 0, .5);
    padding: 20px;
    color: #fff;
}

.hero article img {
    width: 140px;
    float: right;
    margin-left: 15px;
}

/* HISTORY  */

.history {
    background: white;
    border: 1px solid #ccc;
    padding: 20px;
    margin: 20px 0;

    display: grid;
    grid-template-columns: 1fr 180px 1fr;
    gap: 20px;
    align-items: center;
}

.history h2 {
    grid-column: 1 / 4;
    text-align: center;
    margin-bottom: 15px;
}

.history img {
    width: 180px;
}

/* ADVENTURE*/

section:last-of-type {
    background: white;
    border: 1px solid #ccc;
    padding: 20px;
    margin-bottom: 20px;
}

section:last-of-type h2 {
    text-align: center;
}

/* FOOTER */

footer {
    background: #d8c4f2;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.socialmedia {
    display: flex;
    gap: 10px;
}

.socialmedia img {
    width: 40px;
}