:root {
    --heading-background-color: #00008b;
    --heading-text-color: darkblue;
    --heading-font: 'arial', Helvetica, sans-serif;
    --body-font: #000000;
    --default-spacing: 1rem;
    --spacing-small: 2px;
    --border-color: 1px solid rgb(0 0 0 / 0.1);
    --background-color: darkblue;
    --box-shadow: 0 0 30px #333;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    font-family: Roboto, arial, sans-serif;
}

nav {
    background-color: var(--heading-background-color);
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px
}

main {
    max-width: 840px;
}

main img {
    width: 150px;
    height: auto;
    border: var(--border-color);
    padding: var(--spacing-small);
    box-shadow: var(--box-shadow);
    float: right;
    margin: 0 0 1rem 1rem;
}

h1 {
    color: var(--heading-text-color)
}

img {
    width: 150px;
    height: auto;
    border: var(--border-color);
    padding: var(--spacing-small);
    box-shadow: var(--box-shadow)
}

p {
    padding: 0;
}

aside {
    width: 20rem;
    text-align: center;
}

aside img {
    width: 200px;
    height: auto;
}

aside h2 {
    position: absolute;
    /* top: 50px; */
    left: 150px;
}

footer {
    margin-top: 15px;
    border-top: var(--border-color);
    text-align: center;
}

/* class selectors */
.box {
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 10%);
    padding: 1rem;
    background-color: goldenrod;
    color: #fff;
}