:root {
    --heading-background-color: #00008b;
    --heading-text-color: darkblue;
    --heading-font: 'arial', Helvetica, sans-serif;
    --body-font: #000000;
    --default-spacing: 1rem;
    --spacing-small: 2px;
    --border-color: 1px solid rgb(0 0 0 / 0.1);
    --background-color: darkblue;
    --box-shadow: 0 0 30px #333;
}

nav {
    background-color: var(--heading-background-color);
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px
}

main {
    max-width: 840px;
}

main img {
    width: 150px;
    height: auto;
    border: var(--border-color);
    padding: var(--spacing-small);
    box-shadow: var(--box-shadow);
}

h1 {
    color: var(--heading-text-color)
}

img {
    width: 150px;
    height: auto;
    border: var(--border-color);
    padding: var(--spacing-small);
    box-shadow: var(--box-shadow)
}

p {
    padding: 0;
}

aside {
    width: 20rem;
    margin: 1px;
    border: var(--border-color);
    padding: 1rem;
    background-color: #eeeeee;
    color: #333;
    text-align: center;
}

aside img {
    width: 200px;
    height: auto;
}

footer {
    margin-top: 15px;
    border-top: var(--border-color);
    text-align: center;
}